  
body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
}

button {
    display: block;
    width: 30%;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    margin-top: 8px
}


.form {
    margin-top: 20px;
    width: 20%;
}

#content {
    width: 70%;
}