{% extends 'base.html' %}
{% block head %}
<title>LeaderBoard</title>

<style> body { background: url("../static/css/backgrounds/tech.jpg");
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
    background-size: cover;

} 

table {
  border-collapse: collapse;
  background-color: #778484;
  width: 80%;
}

th {background-color: #4CAF50; color: white;}
th, td {
  padding: 8px;
  text-align: left;	
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#4287f5;}

tr:nth-child(even) {background-color: #f2f2f2;}

</style>

{% endblock %}

{% block body %}


<center><h1>LeaderBoard</h1></center>

<center>
<div style="display: inline-block;"><form action="{{ url_for('LB') }}"><input type="submit" value="Main" /></form></div>

<div style="display: inline-block;"><form action="{{ url_for('LBrank') }}"><input type="submit" value="Rank Overview" />
</form></div>

<div style="display: inline-block;"><form action="{{ url_for('LBscience') }}"><input type="submit" value="Science Overview" /></form></div>
<div style="display: inline-block;"><form action="{{ url_for('LBwar') }}"><input type="submit" value="Weapons Overview" /></form></div>

</center>

<br></br>
	

<table>
	<tr>
		<th>NATION</th>
		<th>Era</th>
		<th>TechStream One</th>
		<th>TechStream two</th>
		<th>TechStream Three</th>
		<th>TechStream Four</th>
		<th>TechStream Five</th>
	</tr>
 {% for nation in playerTech %}
<tr>
	<td>{{nation.country}}</td>
	<td>{{nation.era}}</td>
	<td>{{nation.one}}:{{nation.oneP}}%</td>
	<td>{{nation.two}}:{{nation.twoP}}%</td>
	<td>{{nation.three}}:{{nation.threeP}}%</td>
	<td>{{nation.four}}:{{nation.fourP}}%</td>
	<td>{{nation.five}}:{{nation.fiveP}}%</td>
</tr>
{% endfor%}

</table>	
<br> 
<form method="post" action="/LeaderBoard">
		<button name="mainMenu" type="submit" value="mainMenu">Return</button>
 </div>


{% endblock %}